<div class="container">
  <div style="width:'250' ; height:'100%' ; background-image:url('assets/hintergrund4.png');">

      <h1 >Herzlich Willkommen bei Weather Log.</h1>


<br>
<br><br>



  </div>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-12" style="margin-top:32px">
        <h2>Vorteile im Überblick</h2>
      </div>

      <div class="col-lg-4" style="margin-top:32px">
        <img [src]=bild2 width="250" height="250" class="rounded-circle" style="border: 1px solid #aaa;">

        <h2>Datenauszüge</h2>
        <ul class="text-left" style="font-size: 0,5em">
          <!-- <li>Automatische Pedigree Erstellung</li>
          <li>Anbindung externer Schnittstellen wie z.B. https://www.hi-tier.de/</li>
          <li>Erstellung von druckbaren Reports</li>
          <li>Schnelle Übersicht über Bestände</li> -->
        </ul>
      </div><!-- /.col-lg-3 -->


      <div class="col-lg-4" style="margin-top:32px">
        <img [src]=bild1 width="250" height="250" class="rounded-circle" style="border: 1px solid #aaa;">

        <h2>Flexibilität</h2>
        <!-- <p>Durch die Basis als Progressive Web App (PWA) ist die Webseite auch auf Mobilgeräten nutzbar.</p> -->
        <ul class="text-left" style="font-size: 0,5em">
          <!-- <li>Verhält sich wie ein installiertes Programm</li>
          <li>Desktop-App und Mobile-App</li>
          <li>Offline-Modus</li> -->
        </ul>
      </div><!-- /.col-lg-3 -->

      <div class="col-lg-4" style="margin-top:32px">
        <img [src]=bild3 width="250" height="250" class="rounded-circle" style="border: 1px solid #aaa;">

        <h2>Stammbaum</h2>
        <!-- <p>Automatisches Erstellen eines Stammbaums</p> -->
        <ul class="text-left" style="font-size: 0,5em">
          <!-- <li>Stammbaum in N Generationen</li> -->

        </ul>

      </div><!-- /.col-lg-3 -->






    </div><!-- /.row -->
  </div>
