<div class="container">
  <div style="width:'250' ; height:'100%' ; background-image:url('assets/hintergrund4.png');">

      <h1 >Herzlich Willkommen bei BeePedigree.</h1>

      <p>Diese Webseite dient als kleines Anschauungsbeispiel wie ein Zuchtbuch digitalisiert werden kann. Sämtlicher
        Seitenaufbau sowie auch die Seiteninhalte können frei angepasst werden.</p>

        <p>Hinweis: Hierbei handelt es sich um eine Demo. Nicht alle Funktionen sind auch real implementiert.</p>
<br>
<br><br>



  </div>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-12" style="margin-top:32px">
        <h2>Vorteile im Überblick</h2>
      </div>

      <div class="col-lg-3" style="margin-top:32px">
        <img [src]=bild2 width="250" height="250" class="rounded-circle" style="border: 1px solid #aaa;">

        <h2>Datenauszüge</h2>
        <ul class="text-left" style="font-size: 0,5em">
          <li>Automatische Pedigree Erstellung</li>
          <li>Anbindung externer Schnittstellen wie z.B. https://www.hi-tier.de/</li>
          <li>Erstellung von druckbaren Reports</li>
          <li>Schnelle Übersicht über Bestände</li>
        </ul>
      </div><!-- /.col-lg-3 -->


      <div class="col-lg-3" style="margin-top:32px">
        <img [src]=bild1 width="250" height="250" class="rounded-circle" style="border: 1px solid #aaa;">

        <h2>Flexibilität</h2>
        <p>Durch die Basis als Progressive Web App (PWA) ist die Webseite auch auf Mobilgeräten nutzbar.</p>
        <ul class="text-left" style="font-size: 0,5em">
          <li>Verhält sich wie ein installiertes Programm</li>
          <li>Desktop-App und Mobile-App</li>
          <li>Offline-Modus</li>
        </ul>
      </div><!-- /.col-lg-3 -->

      <div class="col-lg-3" style="margin-top:32px">
        <img [src]=bild3 width="250" height="250" class="rounded-circle" style="border: 1px solid #aaa;">

        <h2>Stammbaum</h2>
        <p>Automatisches Erstellen eines Stammbaums</p>
        <ul class="text-left" style="font-size: 0,5em">
          <li>Stammbaum in N Generationen</li>

        </ul>

      </div><!-- /.col-lg-3 -->


      <div class="col-lg-3">
        <svg width="250" height="250" style="transform: scale(1.0);border: 1px solid #aaa;" viewBox="0 0 16 16"
          class="bi bi-person-fill rounded-circle" fill="#82807c" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        </svg>

        <h2>Nutzerverwaltung</h2>
        <ul class="text-left" style="font-size: 0,5em">
          <li>Rechtesystem: Bestimmung wer welche Daten verändern darf</li>
          <li>Rechte können eigenständig zugewiesen oder entfernt werden</li>
        </ul>
      </div><!-- /.col-lg-3 -->



    </div><!-- /.row -->
  </div>
