<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span><a routerLink="#" mat-button><img width="30px" [src]=bild1>WeatherLog</a></span>

      <span class="example-spacer">
      </span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->

        <a routerLink="home" *ngIf="showAdminBoard" mat-button routerLinkActive="active">Home </a>


        <!-- <a routerLink="admin" *ngIf="showAdminBoard" mat-button routerLinkActive="active">Admin Board</a> -->


        <a routerLink="user" *ngIf="showAdminBoard" mat-button routerLinkActive="active">User</a>


        <!-- <a routerLink="pedigree" *ngIf="showAdminBoard" mat-button routerLinkActive="active">Global Pedigree</a> -->
        <!-- IF NOT logged in -->
        <a routerLink="register" *ngIf="!isLoggedIn" mat-button>Sign Up</a>

        <a routerLink="login" *ngIf="!isLoggedIn" mat-button>Login</a>
        <!-- If Logged In-->
        <a routerLink="profile" *ngIf="isLoggedIn" mat-button>{{ username }}</a>

        <a routerLink="" (click)="logout()" *ngIf="isLoggedIn" mat-button>LogOut</a>

      </div>

    </mat-toolbar-row>
  </mat-toolbar>


  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>

        <a routerLink="home" *ngIf="showAdminBoard" mat-list-item routerLinkActive="active">Home </a>


        <!-- <a routerLink="admin" *ngIf="showAdminBoard" mat-list-item routerLinkActive="active">Admin Board</a>


        <a routerLink="mod" *ngIf="showAdminBoard" mat-list-item routerLinkActive="active">Moderator Board</a> -->


        <a routerLink="user" *ngIf="showAdminBoard" mat-list-item routerLinkActive="active">User</a>


        <!-- <a routerLink="pedigree" *ngIf="showAdminBoard" mat-list-item routerLinkActive="active">Pedigree</a> -->


        <!-- IF NOT logged in -->
        <a routerLink="register" *ngIf="!isLoggedIn" mat-list-item>Sign Up</a>

        <a routerLink="login" *ngIf="!isLoggedIn" mat-list-item>Login</a>
        <!-- If Logged In-->
        <a routerLink="profile" *ngIf="isLoggedIn" mat-list-item>{{ username }}</a>

        <a routerLink="" (click)="logout()" *ngIf="isLoggedIn" mat-list-item>LogOut</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <mat-card>
        <router-outlet>
          <!--Content-->
        </router-outlet>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
