<div class="flex">
  <div class="flex-item">
    <p>Struppen</p>
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [colors]="chartColors" [chartType]="barChartType">

      </canvas>
    </div>
  </div>
</div>

<div class="flex">
  <div class="flex-item">
    <p>Caßlau</p>
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [colors]="chartColors" [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>

